apiVersion: argoproj.io/v1alpha1
{% if cron_schedule %}
kind: CronWorkflow
{% else %}
kind: Workflow
{% endif %}
metadata:
  generateName: {{ workflow_name }}-
  labels:
    vlab_slug: {{ vlab_slug }}
spec:
    {% if cron_schedule %}
    schedule: "{{ cron_schedule }}"
    workflowSpec:
{% include 'argo_workflowSpec.jinja2' %}
{% else %}
{% include 'argo_workflowSpec.jinja2' %}
{% endif %}