apiVersion: argoproj.io/v1alpha1
{% if cron_schedule %}
kind: CronWorkflow
{% else %}
kind: Workflow
{% endif %}
metadata:
  generateName: {{ workflow_name }}-
  labels:
    vlab_slug: {{ vlab_slug }}
spec:
    {% if public-bucket-claim-name and user-bucket-claim-name %}
    volumes:
    - name: public-bucket
      persistentVolumeClaim:
        claimName: {{ public_bucket_claim_name }}
    - name: user-data
      persistentVolumeClaim:
        claimName: {{ user_bucket_claim_name }}
    {% endif %}
    {% if cron_schedule %}
    schedule: "{{ cron_schedule }}"
    workflowSpec:
{{ include('argo_workflowSpec.j2',
           workflow_name=workflow_name,
           workflow_service_account=workflow_service_account,
           workdir_storage_size=workdir_storage_size,
           global_params=global_params,
           deps_dag=deps_dag,
           nodes=nodes,
           k8s_secret_name=k8s_secret_name,
           unescaped_username=unescaped_username) | indent(6, true) }}
    {% else %}
{{ include('argo_workflowSpec.j2',
           workflow_name=workflow_name,
           workflow_service_account=workflow_service_account,
           workdir_storage_size=workdir_storage_size,
           global_params=global_params,
           deps_dag=deps_dag,
           nodes=nodes,
           k8s_secret_name=k8s_secret_name,
           unescaped_username=unescaped_username) | indent(4, true) }}
    {% endif %}
