{% set input_json_file = '/tmp/json_' + node.id[:7] + '.json' %}
echo '[]' > {{ input_json_file }};
{% for dependency in dependencies_dag[node.id] %}
{% set is_from_special = dependency.type == 'splitter' or  dependency.type == 'merger' %}
{% set input_name = dependency.to_port %}
{% set input_name_base = input_name.split('_')[:-1]|join('_') %}
{% for cell_input in node.properties.cell.inputs if cell_input.name == input_name_base %}
jq --arg {{ input_name_base }}_name '{{ input_name_base }}' --arg {{ input_name_base }}_value '{{ '{{inputs.parameters.' }}{{ dependency.from_port }}{{ '}}' }}' --arg {{ input_name_base }}_type '{{ cell_input.type }}' '. += [{name:$input_name_base_name,type:$input_name_base_type,value:$input_name_base_value}]' {{ input_json_file }} > tmp.json && mv tmp.json {{ input_json_file }};
{% endfor %}
{% endfor %}
{% for cell_params in node.properties.cell.params %}
jq --arg {{ cell_params.name }}_name '{{ cell_params.name }}' --arg {{ cell_params.name }}_type '{{ cell_params.type }}' --arg {{ cell_params.name }}_value '{{ '{{workflow.parameters.' }}{{ cell_params.name }}_{{ node.id[:7] }}{{ '}}' }}' '. += [{name:$cell_params_name,type:$cell_params_type,value:$cell_params_value}]' {{ input_json_file }} > tmp.json && mv tmp.json {{ input_json_file }};
{% endfor %}
jq --arg id_name 'id' --arg id_value '{{ node.id[:7] }}' --arg id_type 'str' '. += [{name:$id_name,type:$id_type,value:$id_value}]' {{ input_json_file }} > tmp.json && mv tmp.json {{ input_json_file }};

