import json
import os
import shlex
import traceback

{% set title = node.properties.cell.title + "-" + node.id[:7] %}

try:
    args = []
    # node.properties.parameters
    {% for parameter in node.properties.parameters %}
    {% if  parameter.to_task == title %}
    input_parameter_name = '{{ parameter.input_parameter_name }}'.replace('_{{ node.id[:7] }}', '')
    input_parameter_value = {{ parameter.input_parameter_value }}
    input_parameter_type = '{{ parameter.type }}'
    {% for port in ports.values() %}
    {% if port.type == 'right' %}
    path = "/tmp/{{ port.id }}_{{ node.id[:7] }}.json"
    {% endif %}
    {% endfor %}
    arg = {
       "name": input_parameter_name,
       "type": input_parameter_type,
       "value": str(input_parameter_value),
       "path": path
    }
    args.append(arg)
    {% endif %}
    {% endfor %}
    # node.properties.artifacts
    {% for artifact in node.properties.artifacts %}
    {% if artifact.to_task == title %}
    input_parameter_name = '{{ artifact.name }}'
    with open("/tmp/" + input_parameter_name + ".json") as f:
        input_parameter_value = json.load(f)
    input_parameter_type = '{{ artifact.type }}'
    {% for port in ports.values() %}
    {% if port.type == 'right' %}
    path = "/tmp/{{ port.id }}_{{ node.id[:7] }}.json"
    {% endif %}
    {% endfor %}
    arg = {
       "name": input_parameter_name,
       "type": input_parameter_type,
       "value": str(input_parameter_value),
       "path": path
    }
    args.append(arg)
    {% endif %}
    {% endfor %}

    arg = {
        "name": "id",
        "type": "str",
        "value": "{{ node.id[:7] }}"
    }
    args.append(arg)
    # Crate a folder with the node id if it doesn't exist in /workspace
    workspace_dir = '/workspace/{{ node.id[:7] }}'
    if not os.path.exists(workspace_dir):
        os.makedirs(workspace_dir)
    with open(workspace_dir + '/' + 'inputs.json', 'w') as f:
        json.dump(args, f)

    # Convert to flat arguments
    inputs = ''
    for arg in args:
      name = arg.get('name')
      value = arg.get('value')
      type = arg.get('type')
      print(f"Processing argument: name={name}, value={value}")
      if type == 'list':
        value = value.strip()
      if type == 'str':
         value = f"'{value}'"
      line = f"--{name}={shlex.quote(value)}"
      print(f"Converted to flat argument: {line}")
      inputs += line + ' '

    with open(workspace_dir+'/inputs.txt', "wb") as f:
        for arg in args:
            name = arg.get('name')
            value = arg.get('value')
            var_type = arg.get('type')
            if name and value:
                if var_type == 'list':
                    value = value.replace(' ','')
                    try:
                        json.loads(value)
                    except json.decoder.JSONDecodeError as err:
                        # It is a list[str]. We must save it as ["elm1","elem2",..]
                        value = json.dumps(json.loads(value.replace("'",'"')))
                if var_type == 'str' and ' ' in value:
                    # Escape exiting "
                    value = value.replace('"', '\\"')
                    value = '"'+value+'"'
                line = f'--{name}={value}'
                f.write(line.encode() + b"\0")
except Exception as e:
    print("Error in init container logic:")
    traceback.print_exc()