import json

args = []

{% for dependency in dependencies_dag[node.id] %}
{% set is_from_special = dependency.type == 'splitter' or  dependency.type == 'merger' %}
{% set input_name = dependency.to_port %}
{% set input_name_base = input_name.split('_')[:-1]|join('_') %}
{% for cell_input in node.properties.cell.inputs if cell_input.name == input_name_base %}
   arg = {
       "name": "{{ input_name_base }}",
       "type": "{{ cell_input.type }}",
       "value": "{{ '{{inputs.parameters.' }}{{ dependency.from_port }}{{ '}}' }}"
   }
   args.append(arg)
{% endfor %}
{% endfor %}


{% for cell_params in node.properties.cell.params %}
{# we need this indentation to align echo with jq  #}
arg = {
    "name": "{{ cell_params.name }}",
    "type": "{{ cell_params.type }}",
    "value": "{{ '{{workflow.parameters.' }}{{ cell_params.name }}_{{ node.id[:7] }}{{ '}}' }}"
}
args.append(arg)
{% endfor %}
arg = {
    "name": "id",
    "type": "str",
    "value": "{{ node.id[:7] }}"
}
args.append(arg)
# Crate the JSON file with the arguments for the cell
# Crate a folder with the node id if it doesn't exist in /workspace
workspace_dir = '/workspace/{{ node.id[:7] }}'
import os
if not os.path.exists(workspace_dir):
    os.makedirs(workspace_dir)
input_json_file = '/tmp/json_{{ node.id[:7] }}.json'
with open(input_json_file, 'w') as f:
    json.dump(args, f)

# Write the arguments to a file to be used by the legacy cells
# Read args.json
with open(input_json_file, 'r') as f:
    args = json.load(f)

# Convert to flat arguments with proper shell escaping
flat_args = []
for arg in args:
    name = arg.get('name')
    value = arg.get('value')
    if name and value:
        flat_args.append(f"--{name}")
        # Use shlex.quote for proper shell escaping
        flat_args.append(shlex.quote(value))

# Write the flat arguments to a file
with open('/tmp/flat_args_{{ node.id[:7] }}.txt', 'w') as f:
    f.write(' '.join(flat_args))