import json
{{ special_dep.port_id }} = {{ '{{inputs.parameters.' }}{{ special_dep.port_id }}{{ '}}' }}
{% for port in ports.values() %}
{% if port.type == 'right' %}
list_of_lists = []
for elem in {{special_dep.port_id}}:
    list = [elem]
    list_of_lists.append(list)
f_out = open("/tmp/{{port.id}}_{{ node.id[:7] }}.json", "w")
f_out.write(json.dumps(list_of_lists))
f_out.close()
{% endif %}
{% endfor %}